<div class="content">

	<div class="game-header">
		<h1><%= @game.name %></h1>
		<div class="description"><%= @game.description %></div>
		
		<!-- Menu where you can view/invite/kick players from your game -->
		<div class="players-manager">Players</div>
	</div> <!-- .game-header -->

	<div class="game-content">
		
		<!-- Add/edit item form -->
		<div class="itemform-container">
			<div class="itemform-close-button">Close</div>
			<div class="itemform-title">Title</div>			
			<div class="itemform-form-container">
				<%= form_for(:item, html: {class: "itemform-form"}) do |f| %>
				
					<%= f.hidden_field :id, class: "itemform-id" %>
				
					<%= f.label :name, "Name:" %><br>
					<%= f.text_field :name, class: "itemform-name" %><br>
					
					<%= f.label :magic_name, "Magic name:" %><br>
					<%= f.text_field :magic_name, class: "itemform-magicname" %><br>
					
					<%= f.label :properties, "Properties:" %><br>
					<%= f.text_area :properties, class: "itemform-properties" %><br>
					
					<%= f.label :description, "Description:" %><br>
					<%= f.text_area :description, class: "itemform-description" %><br>
					
					<div class="identified">
						<%= f.check_box :identified, class: "itemform-identified" %>
						<%= f.label :identified, "Identified" %><br>
					</div>
					
					<div class="submit">
						<a class="itemform-submit">Add/edit</a>
					</div>
				
				<% end %>
			</div> <!-- .itemform-form-container -->
		</div> <!-- .itemform-container -->
	
		<!-- GMs game menu -->
		<div class="gm-container">
			<div class="gm-menu">
				<input type="text">
				<div class="gm-add-category">Add category</div>
				<div class="gm-add-item">Add item</div>
			</div> <!-- .gm-menu -->
			
			<ul class="gm-game-categories<%= " empty" if @game.game_categories.empty? %>">
			<%= "No categories" if @game.game_categories.empty? %>
			
			<% @game.game_categories.each do |category| %>
			<li>
				<div class="category" id="category-<%= category.id %>">
					<div class="category-title"><%= category.name %></div>
					
					<ul class="category-items sortable<%= " empty" if category.gm_items.empty? %>">
					<% if !category.gm_items.empty? %>
    					<% category.gm_items.each do |item| %>
    						<li class="category-item item" id="item-<%= item.id %>">
    							<div class="item-name"><%= item.name %></div>
    							<div class="item-menu">Edit Delete</div>
    						</li <!-- .category-item .item -->
    					<% end %>
					<% end %>
					   <li class="emptyMessage" 
					       <% if !category.gm_items.empty? %>
					           style="display: none"
				           <% end %>>Empty</li>
					</ul> <!-- .category-items -->
				</div> <!-- .category -->
			</li>
			<% end %>
			
			</ul> <!-- .gm-game-categories -->
			
		</div> <!-- .gm-container -->
		
		<!-- Players inventory -->
		<div class="inventory-container">
			<div class="inventory-identify">Identify</div>
			
			<div class="inventory<%= " empty" if @game.players.empty? %>">
			<%= "No players" if @game.players.empty? %>
				
			<% @game.players.each do |player| %>
				<div class="inventory-player">
					<div class="player-name"><%= player.name %></div>
					
					<div id="player-<%= player.id %>" class="inventory-items">
    					<ul class="sortable<%= " empty" if player.items_in(@game).empty? %>">
    					<% if !player.items_in(@game).empty? %>
        					<% player.items_in(@game).each do |item| %>
        						<li class="inventory-item item " id="item-<%= item.id %>">
        							<div class="item-name"><%= item.name %></div>
        							<div class="item-menu">Edit Delete</div>
        						</li> <!-- .inventory-item .item -->
        					<% end %>
                        <% end %>
                            <li class="emptyMessage" 
                               <% if !player.items_in(@game).empty? %>
                                   style="display: none"
                               <% end %>>Empty</li>
    					</ul>
					</div> <!-- .inventory-items -->
					
				</div> <!-- .inventory-player -->
			<% end %>
		
			</div> <!-- .inventory -->
		
		</div> <!-- .inventory-container -->
	
	</div>

</div> <!-- .content -->

<script>
    function updateCategoryItem(destination, itemId) {
        var url = "<%= url_for(update_category_in_item_path('newCategory', 'itemId')) %>";
        url = url.replace("newCategory", destination).replace("itemId", itemId);
        
        $.ajax({
               type: "POST",
               url: url,
          });
    }
    
    function updatePlayerItem(destination, itemId) {
        var url = "<%= url_for(update_player_in_item_path('newPlayer', 'itemId')) %>";
        url = url.replace("newPlayer", destination).replace("itemId", itemId);
        
        $.ajax({
               type: "POST",
               url: url,
          });
    }
    
    /*
     * ITEM ADD/EDIT FORM JS
     * Goes here instead of separate js file because I need to use some ruby.
     * There's little ruby so maybe we can push some of it to separate js file
     * should that need arise.
     */
    
    $(document).ready(function() {
    	$(".itemform-container").toggle();
    	
    	var itemAddUrl = "<%= url_for(item_add_path) %>";
    	var itemUpdateBaseUrl = "<%= url_for(item_update_path("item_id")) %>";
    });
    
    function prepareFormAdd() {
    	// Form URL
    	$(".itemform-form").attr("action", window.itemAddUrl);
    	
    	// Form fields
    	$(".itemform-id").val("");
    	$(".itemform-name").val("");
    	$(".itemform-magicname").val("");
    	$(".itemform-properties").val("");
    	$(".itemform-description").val("");
    	$(".itemform-identified").attr("checked", false);
    	
    	// Titles etc.
    	$(".itemform-title").text("Add new item");
    	$(".itemform-submit").text("Add item");
    	if (!$(".itemform-container").is(":visible")) {
    		$(".itemform-container").toggle();
    	}
    }
    
    function prepareFormUpdate() {
    	$(".itemform-title").text("Edit item");
    	$(".itemform-submit").text("Edit item");
    	if (!$(".itemform-container").is(":visible")) {
    		$(".itemform-container").toggle();
    	}
    }
    
    $(".item").click(function() {
    	prepareFormUpdate();
    });
    
    $(".gm-add-item").click(function() {
    	prepareFormAdd();
    });
    
    $(".itemform-close-button").click(function() {
    	$(".itemform-container").toggle();
    });
    
    $(".itemform-submit").click(function() {
    	$(".itemform-form").attr('action', "<%= url_for(item_add_path) %>")
    	$(".itemform-form").ajaxForm(function(data) {
    		alert(data);
    	});
    	$(".itemform-form").submit();
    });
</script>