<div class="content">

	<div class="game-header">
		<h1><%= @game.name %></h1>
		<div class="description"><%= @game.description %></div>
		
		<!-- Menu where you can view/invite/kick players from your game -->
		<div class="players-manager">Players</div>
	</div> <!-- .game-header -->

	<div class="game-content">
		
		<!-- Add/edit item form -->
		<div class="itemform-container">
			<div class="itemform-close-button">Close</div>
			<div class="itemform-title">Title</div>			
			<div class="itemform-form-container">
				<%= form_for(:item, html: {class: "itemform-form"}) do |f| %>
				
					<%= f.hidden_field :id, class: "itemform-id" %>
					<%= f.hidden_field :category_id, class: "itemform-categoryid" %>
				
					<%= f.label :name, "Name:" %><br>
					<%= f.text_field :name, class: "itemform-name" %><br>
					
					<%= f.label :magic_name, "Magic name:" %><br>
					<%= f.text_field :magic_name, class: "itemform-magicname" %><br>
					
					<%= f.label :properties, "Properties:" %><br>
					<%= f.text_area :properties, class: "itemform-properties" %><br>
					
					<%= f.label :description, "Description:" %><br>
					<%= f.text_area :description, class: "itemform-description" %><br>
					
					<div class="identified">
						<%= f.check_box :identified, class: "itemform-identified" %>
						<%= f.label :identified, "Identified" %><br>
					</div>
					
					<div class="submit">
						<a class="itemform-submit">Add/edit</a>
					</div>
				
				<% end %>
			</div> <!-- .itemform-form-container -->
		</div> <!-- .itemform-container -->
	
		<!-- GMs game menu -->
		<div class="gm-container">
			<div class="gm-menu">
				<input type="text">
				<div class="gm-add-category">Add category</div>
				<div class="gm-add-item">Add item</div>
			</div> <!-- .gm-menu -->
			
			<ul class="gm-game-categories<%= " empty" if @game.game_categories.empty? %>">
			<%= "No categories" if @game.game_categories.empty? %>
			
			<% @game.game_categories.each do |category| %>
			<li>
				<div class="category" id="category-<%= category.id %>">
					<div class="category-title"><%= category.name %></div>
					
					<ul class="category-items sortable<%= " empty" if category.gm_items.empty? %>">
					<% if !category.gm_items.empty? %>
    					<% category.gm_items.each do |item| %>
    						<li class="category-item item" id="item-<%= item.id %>">
    							<div class="item-name"><%= if !item.magic_name.blank?
    								item.magic_name 
    							else 
    								item.name 
    							end %></div>
    							<div class="item-menu">Edit Delete</div>
    							<div class="item-hover">
    								<div class="item-hover-magicname"><%= item.magic_name %></div>
    								<div class="item-hover-name<%= " only" if item.magic_name.blank? %>"><%= item.name %></div>
    								<div class="item-hover-properties"><% if !item.properties.blank? %>
    									<ul>
    									<% item.properties.split("\n").each do |property| %>
    										<li><%= property %></li>
    									<% end %>
    									</ul>
    								<% end %></div>
    								<div class="item-hover-description"><%= item.description %></div>
    								<input type="checkbox" class="item-hover-identified"<%= " checked" if item.identified? %>>
    							</div> <!-- .item-hover -->
    						</li> <!-- .category-item .item -->
    					<% end %>
					<% end %>
					   <li class="emptyMessage" 
					       <% if !category.gm_items.empty? %>
					           style="display: none"
				           <% end %>>Empty</li>
					</ul> <!-- .category-items -->
				</div> <!-- .category -->
			</li>
			<% end %>
			
			</ul> <!-- .gm-game-categories -->
			
		</div> <!-- .gm-container -->
		
		<!-- Players inventory -->
		<div class="inventory-container">
			<div class="inventory-identify">Identify</div>
			
			<div class="inventory<%= " empty" if @game.players.empty? %>">
			<%= "No players" if @game.players.empty? %>
				
			<% @game.players.each do |player| %>
				<div class="inventory-player">
					<div class="player-name"><%= player.name %></div>
					
					<div id="player-<%= player.id %>" class="inventory-items">
    					<ul class="sortable<%= " empty" if player.items_in(@game).empty? %>">
    					<% if !player.items_in(@game).empty? %>
        					<% player.items_in(@game).each do |item| %>
        						<li class="inventory-item item " id="item-<%= item.id %>">
        							<div class="item-name"><%= if !item.magic_name.blank?
        								item.magic_name
        							else
        								item.name
        							end %></div>
        							<div class="item-menu">Edit Delete</div>
        							<div class="item-hover">
	    								<div class="item-hover-magicname"><%= item.magic_name %></div>
	    								<div class="item-hover-name<%= " only" if item.magic_name.blank? %>"><%= item.name %></div>
	    								<div class="item-hover-properties"><% if !item.properties.blank? %>
	    									<ul>
	    									<% item.properties.split("\n").each do |property| %>
	    										<li><%= property %></li>
	    									<% end %>
	    									</ul>
	    								<% end %></div>
	    								<div class="item-hover-description"><%= item.description %></div>
	    								<input type="checkbox" class="item-hover-identified"<%= " checked" if item.identified? %>>
	    							</div> <!-- .item-hover -->
        						</li> <!-- .inventory-item .item -->
        					<% end %>
                        <% end %>
                            <li class="emptyMessage" 
                               <% if !player.items_in(@game).empty? %>
                                   style="display: none"
                               <% end %>>Empty</li>
    					</ul>
					</div> <!-- .inventory-items -->
					
				</div> <!-- .inventory-player -->
			<% end %>
		
			</div> <!-- .inventory -->
		
		</div> <!-- .inventory-container -->
	
	</div>

</div> <!-- .content -->

<script>

	$(document).ready(function() {
    	
    	// For add/edit item form
    	window.itemAddUrl = "<%= url_for(item_add_path) %>";
    	window.itemUpdateBaseUrl = "<%= url_for(item_update_path("item_id")) %>";
    	window.selectedCategoryId = $(".category").first().attr("id").split("-")[1]
    	window.selectedCategoryName = $(".category").first().find(".category-title").text();
    	window.addEditMode = "none";
    });

    function updateCategoryItem(destination, itemId) {
        var url = "<%= url_for(update_category_in_item_path('newCategory', 'itemId')) %>";
        url = url.replace("newCategory", destination).replace("itemId", itemId);
        
        $.ajax({
               type: "POST",
               url: url,
          });
    }
    
    function updatePlayerItem(destination, itemId) {
        var url = "<%= url_for(update_player_in_item_path('newPlayer', 'itemId')) %>";
        url = url.replace("newPlayer", destination).replace("itemId", itemId);
        
        $.ajax({
               type: "POST",
               url: url,
          });
    }
    
    /*
     * ITEM ADD/EDIT FORM JS
     * Goes here instead of separate js file because I need to use some ruby.
     * There's little ruby so maybe we can push some of it to separate js file
     * should that need arise.
     */
    
    function prepareFormAdd() {
    	// Select mode
    	window.addEditMode = "add";
    	
    	// Form URL
    	$(".itemform-form").attr("action", window.itemAddUrl);
    	
    	// Form fields
    	$(".itemform-id").val("");
    	$(".itemform-categoryid").val(window.selectedCategoryId);
    	$(".itemform-name").val("");
    	$(".itemform-magicname").val("");
    	$(".itemform-properties").val("");
    	$(".itemform-description").val("");
    	$(".itemform-identified").attr("checked", false);
    	
    	// Titles etc.
    	$(".itemform-title").html("Adding item to:<br>" + window.selectedCategoryName);
    	$(".itemform-submit").text("Add item");
    	if (!$(".itemform-container").is(":visible")) {
    		$(".itemform-container").toggle();
    	}
    }
    
    function prepareFormUpdate(clicked) {
    	// Select mode
    	window.addEditMode = "edit";
    	
    	// Get item id
    	clickedId = $(clicked).attr("id").split("-")[1];
    	
    	// Form URL
    	$(".itemform-form").attr("action", window.itemUpdateBaseUrl.replace("item_id", clickedId));
    	
    	// Form fields
    	var fields = $(clicked).find(".item-hover");
    	
    	$(".itemform-id").val(clickedId);
    	$(".itemform-categoryid").val("");
    	$(".itemform-name").val(fields.find(".item-hover-name").text());
    	$(".itemform-magicname").val(fields.find(".item-hover-magicname").text());
    	$(".itemform-description").text(fields.find(".item-hover-description").text());
    	$(".itemform-identified").prop("checked", fields.find(".item-hover-identified").prop("checked"));
    	
    	var properties = fields.find(".item-hover-properties").find("ul").first();
    	var propertiesLength = properties.find("li").length;
    	// $(".itemform-properties").val("");
    	var propertiesNewText = "";
    	properties.find("li").each(function(index, element) {
    		propertiesNewText += $(element).text();
    		if (index < propertiesLength - 1) {
    			propertiesNewText += "\n";
    		}
    	});
    	$(".itemform-properties").val(propertiesNewText);
    	
    	$(".itemform-title").text("Edit item");
    	$(".itemform-submit").text("Edit item");
    	if (!$(".itemform-container").is(":visible")) {
    		$(".itemform-container").toggle();
    	}
    }
    
    function updateItem(newData) {
    	// Find item to update in DOM
    	var item = $("#item-" + newData.id);
    	if (item.length) {
    		
    		// Name on item label    		
    		if (!newData.magic_name) {
    			item.find(".item-name").text(newData.name);
    		} else {
    			item.find(".item-name").text(newData.magic_name);
    		}
    		
    		// Hover stuff except item properties
    		var hover = item.find(".item-hover");
    		var hover_name = hover.find(".item-hover-name");
    		
    		hover_name.text(newData.name);
    		hover.find(".item-hover-magicname").text(newData.magic_name);
    		if (!newData.magic_name) {
    			if (!hover_name.hasClass("only")) {
    				hover_name.addClass("only");
    			}
    		} else {
    			if (hover_name.hasClass("only")) {
    				hover_name.removeClass("only");
    			}
    		}
    		
    		hover.find(".item-hover-description").text(newData.description);
    		
    		var hover_identified = hover.find(".item-hover-identified");
    		if (newData.identified == "1") {
    			hover_identified.prop("checked", true);
    		} else {
    			hover_identified.prop("checked", false);
    		}
    		
    		// Properties
    		var propertiesUl = hover.find(".item-hover-properties").find("ul").first();
    		propertiesUl.empty();
    		$.each(newData.properties.split("\n"), function(index, element) {
    			propertiesUl.append("<li>" + element + "</li>\n");
    		});
    	}
    }
    
    function addItem(newData) {
    	var category = $("#category-" + newData.category_id);
    	if (category.length) {
    		var categoryUl = category.find(".category-items");
    		
    		// Hide empty li if we're adding to empty category
    		var empty = categoryUl.find(".emptyMessage"); 
    		if (!empty.css("display") != "none") {
    			empty.css("display", "none");
    		}
    		
    		// Item label
    		categoryUl.append('<li class="category-item item" id="item-' + newData.id + '">\n</li>');
    		var item = categoryUl.find("#item-" + newData.id);
    		
    		// Item name in label
    		if (newData.magic_name) {
    			item.append('<div class="item-name">' + newData.magic_name + '</div>');
    		} else {
    			item.append('<div class="item-name">' + newData.name + '</div>');
    		}
    		
    		// Item menu
    		// TODO
    		item.append('<div class="item-menu">Edit Delete</div>');
    		
    		// Hover
    		// We just need to create the tag structure without content, then we can use
    		// updateItem function to fill in content for us. This way we avoid clutter
    		// caused by, for example, concatenating strings.
    		item.append('<div class="item-hover">\n</div>');
    		var hover = item.find(".item-hover").first();
    		
    		// Stuff inside hover
    		hover.append('<div class="item-hover-magicname"></div>');
    		
    		var nameClasses = "item-hover-name";
    		if (!newData.magic_name) {
    			nameClasses += " only";
    		}
    		hover.append('<div class="' + nameClasses + '"></div>');
    		
    		hover.append('<div class="item-hover-properties">\n<ul>\n</ul>\n</div>');
    		hover.append('<div class="item-hover-description"></div>');
    		hover.append('<input type="checkbox" class="item-hover-identified">');
    		
    		// Use updateItem to fill in data
    		updateItem(newData);
    		
    		// Just need to bind hover function to the new div
    		$("#item-" + newData.id).hover(function() {
    			$(this).find(".item-hover").toggle();
    		});
    	}
    }
    
    $(".category").click(function() {
    	window.selectedCategoryId = $(this).attr("id").split("-")[1];
    	window.selectedCategoryName = $(this).find(".category-title").text();
    	
    	if (window.addEditMode == "add") {
	    	if ($(".itemform-container").is(":visible")) {
	    		$(".itemform-categoryid").val(window.selectedCategoryId);
	    		$(".itemform-title").html("Adding item to:<br>" + window.selectedCategoryName);
	    	}
	    }
    });
    
    $(".item").click(function() {
    	prepareFormUpdate(this);
    });
    
    $(".gm-add-item").click(function() {
    	prepareFormAdd();
    });
    
    $(".itemform-close-button").click(function() {
    	$(".itemform-container").toggle();
    });
    
    $(".itemform-submit").click(function() {
    	$(".itemform-form").ajaxForm(function(data) {
    		if (data != null && typeof data === "object") {
    			if (data.mode == "edit") {
    				updateItem(data);
    			} else {
    				addItem(data);
    			}
    		}
    	});
    	$(".itemform-form").submit();
    });
</script>
