<div class="header">
	<% if !signed_in? %>
		<div class="account-links">Sign in link</div>
	<% else %>
		<div class="logo">
			<%= link_to "GOBLIN", profile_path %>
		</div>
		<div class="account-links">Links: 
		    <span class="click-friends <%= "updated" if @user.update_flag? %>">Friends</span> | Settings | 
		    <%= link_to "Logout", sign_out_path, method: "post" %>
		    <div class="friends"></div>
	    </div> <!-- .account-links -->
		
	<% end %>
</div> <!-- .header -->

<% if @user %>
<script>

    var interval;
    friends = "<%= 
        escape_javascript(render(:partial => 'layouts/friends', :locals => { 
            :user => @user,
            :friends => @friends,
            :pending => @pending,
            :invited => @invited
        } )) 
    %>";
    
    $(".click-friends").click(function() {
       
       $(".friends").replaceWith(friends);
       interval = setInterval(function() {
           
           $.ajax({
               type: "POST",
               url: "<%= url_for(get_update_flag_url(@user.id)) %>",
           })
               .done(function(data) {
                   if (data.update == true) {
                       $(".click-friends").removeClass("updated");
                       friends = data.projects;
                       $(".friends").replaceWith(friends);
                   }
               });
           
       }, 500);
    });
    
    function stopRefreshing() {
        clearInterval(interval);
    }
    
</script>
<% end %>
