<div class="header">
	<% if !signed_in? %>
		<div class="account-links">Sign in link</div>
	<% else %>
		<div class="logo">
			<%= link_to "GOBLIN", profile_path %>
		</div>
		<div class="account-links">Links: <span class="click-friends <%= "updated" if @user.update_flag? %>">Friends</span> | Settings | 
		    <%= link_to "Logout", sign_out_path, method: "post" %></div>
		<div class="friends"></div>
	<% end %>
</div> <!-- .header -->
<style>  .updated { color: red }  </style>

<% if @user %>
<script>

    var interval;

    $(".click-friends").click(function() {
       $(".friends").replaceWith("<%= 
        escape_javascript(render(partial: 'layouts/friends')) 
       %>");
       interval = setInterval(function() {
           
           $.ajax({
               type: "POST",
               url: "<%= url_for(get_update_flag_url(@user.id)) %>",
           })
               .done(function(data) {
                   if (data.update == true) {
                       $(".click-friends").removeClass("updated");
                       $(".friends").replaceWith("<%= escape_javascript(render(partial: 'layouts/friends')) %>"); 
                   }
               });
           
       }, 500);
    });
    
    function stopRefreshing() {
        clearInterval(interval);
    }
    
</script>
<% end %>
